table {
    position: relative;
    top: 100px;
    left: 100px;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 4px 24px;
    text-align: center;
}

th {
    font-size: 14px;
}

td {
    font-size: 12px;
}

button {
    font-size: 8px;
    width: 12px;
    height: 6px;
    padding: 0;
}

th {
    width: 100px;
    position: relative;
}

button {
    position: absolute;
    bottom: calc((100% - 15px) / 2);
    right: 10px;
    display: none;
}

th > div {
    width: 100px;
}
